{% extends 'base.html' %}
{% block content %}
{% load static%}

<div class="container col-md-12">
<div class="col-md-5">
<div class="form-group">
<h3>User sign up</h3>

<form action="" method="POST" enctype="multipart/form-data" autocomplete="off">
   {%csrf_token%}
   {%if messages%}
{%for message in messages%}
<div class="alert-success" style="padding:7px;border-radius:7px;moz-border-radius:7px;web-border-radius:7px;">{{message}}</div>
{%endfor%}
{%endif%}
 {{  form.as_p }}
<div class="form-group">

<button class="btn btn-warning" type="submit">Register</button>

</div>
   Register with <a href=""><img src="{% static 'img/fb.png' %}" height="30"/> </a>or <a href=""><img src="{% static 'img/ggle.png' %}" height="30"/></a>
     
</form>

</div>

</div>
<div class="col-md-7 ">
<div class="jumbotron" style="background-image:url('/static/img/opensource.png'); background-repeat: no-repeat; background-size: 640px 500px; ">


<br><br><br><br><br><br><br><br><br><br><br
><br><br><br><br><br><br><br><br><br><br><br><br><br>
</div>


</div>

</div>


{% endblock %}